body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
  }
  
  header {
    
        background-color: #1e3a8a; /* azul oscuro más elegante */
        color: #f8fafc; /* blanco suave */
        padding: 25px;
        text-align: center;
        border-bottom: 4px solid #2563eb;
      }



  h1 {
    margin: 0;
    font-size: 2em;
  }
  
  h2 {
    margin-top: 5px;
    font-weight: normal;
  }
  
  section {
    padding: 25px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  
  
  footer {
    text-align: center;
    padding: 15px;
    background-color: #0066cc;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
  